name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # 或者你希望部署的其他分支

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.22.1'  # 确保使用你的 Flutter 版本

      - name: Install dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web

      - name: Debug info
        run: |
          git config --global --add safe.directory /github/workspace
          git --version
          git remote -v
          ls -la
